/* Quick-Equip app styling */

.quick-equip-app {
  background-color: var(--hyp3e-color-bg-75);
  gap: 0.5rem;
  justify-content: center;
}
.quick-equip-app .window-content {
  padding: 4px 4px;
  /* background-color: var(--hyp3e-color-bg-75); */
  /* padding-bottom: 8px; */
}

.quick-equip-app .quick-equip-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
}
.quick-equip-app .quick-equip-control {
  border: none;
  height: 24px;
  width: 24px;
  color: var(--color-text);
  font-size: 1.0rem;
  border-radius: 4px;
}

.quick-equip-column {
  flex: 1;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid var(--color-border-dark);
  border-radius: 8px;
  padding: 0.2rem;
}

.quick-equip-column h3 {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0.25rem;
}
.quick-equip-column h4 {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.quick-equip-item {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.15rem;
  padding: 0.15rem 0.15rem;
  cursor: pointer;
  border-radius: 4px;
  img {
    width: 24px;
    height: 24px;
    border: none;
  }
}

.quick-equip-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.quick-equip-item.equipped {
  background: rgba(33, 150, 243, 0.4);
  border: 1px solid var(--color-border-highlight);
}
