/* Styles for Custom PC Classes app */

.class-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid #ccc;
    }
}
.class-list .class-name {
    font-weight: bold;
    padding-top: 8px;
}

.hyp3e.class-editor .window-content {
    flex: 1 1 auto;      /* take remaining space */
    overflow-y: auto;    /* scroll if content overflows */
    padding-right: 8px;  /* avoids scrollbar overlap */
}
.hyp3e.class-editor .container {
    align-items: flex-start;
}
.hyp3e.class-editor select {
    width: auto;
    max-width: 150px;
    margin: 0 2px;
}
.hyp3e.class-editor .equipment-select {
    width: 100%;
    min-width: 220px;
    max-width: 240px;
}
.hyp3e.class-editor input[type=text],
.hyp3e.class-editor input[type=number] {
    text-align: center;
    min-width: 50px;
    max-width: 150px;
    margin: 0 2px;
}
.hyp3e.class-editor input.input-small {
    text-align: center;
    max-width: 40px;
}
.hyp3e.class-editor input.input-big {
    text-align: left;
    min-width: 400px;
    max-width: 500px;
}
.hyp3e.class-editor .level-advancement {
    text-align: center;
}
.hyp3e.class-editor button.button-narrow {
    width: 40px;
    margin: 2px 2px;
}
.hyp3e.class-editor button.button-wide {
    width: 100%;
    margin: 2px 2px;
}
